table {
  width: 100%;
  background-color: #2B2B2B;
  align-items: center;

  th {
    color: #FFE12E;
    padding: 5px 15px 5px;
  }

  td {
    color: white;
    padding: 5px 15px 5px;
    font-family: Roboto;
    text-transform: uppercase;
  }

  .green {
    color: #2E7D32
  }

  .red {
    color: #D32F2F;
  }

  .yellow {
    color: #FFEB3B;
  }

  .orange {
    color: #EF6C00;
  }
}


.city {
  display: none;
}


@media all and (min-width: 992px) {
  table {
    height: auto;
  }

  .city {
    height: 37px;
    display: table-cell;
  }
}
