.arrivalBoard {
  padding: 10px;
  background-color: #2B2B2B;

  mat-card-title {
    color: #FFE12E;
  }
}

.departureBoard {
  padding: 10px;
  background-color: #2B2B2B;

  mat-card-title {
    color: #FFE12E;
  }
}
